h1 {
text-align: center;
}

.row {
    margin: auto;
    height: 100%;
    width: 90%;
}

.col-left {

}

.col-right {

}

.col-sm-6 {
    margin: auto;
    height: 100%;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100%;
}
