<h1>
  {{title}}
</h1>  
<section>
    <div class="row" style="margin:auto;height:100%;width:100%;">
	         <div class="col-sm-6" style="margin: auto; height:100%" >
			<textarea rows="30" type="text" style="width:100%;height:100%">
				 Heading
				 =======

				 Sub-heading
				 -----------
				  
				 ### Another deeper heading
				  
				 Paragraphs are separated
				 by a blank line.

				 Leave 2 spaces at the end of a line to do a  
				 line break

				 Text attributes *italic*, **bold**, 
				 \`monospace\`, ~~strikethrough~~ .

				 Shopping list:

				   * apples
				     * oranges
				       * pears

				       Numbered list:

				         1. apples
					   2. oranges
					     3. pears

					     The rain---not the reign---in
					     Spain.

					      *[Herman Fassett](https://freecodecamp.com/hermanfassett)*
			</textarea>
		</div>
		<div class="col-sm-6" style="text-align: center;">
		    tttest
		</div>
	</div>

</section>

